<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>talks</title>
    <meta charset="utf-8">
</head>
<body>
<h1>Расписание докладов</h1>

<table border="1">
    <tr>
        <th>
            Название доклада
        </th>
        <th>
            Время доклада
        </th>
    </tr>
    <tr th:each="credit : ${credits}">
        <td th:utext="${credit.creditLimit}"></td>
        <td th:utext="${credit.interestRate}"></td>
    </tr>
</table>
<div>
    <form th:action="@{/credits}" method="post" th:object="${credit}">
        <div>
            <input type="text" th:field="*{creditLimit}"/>
        </div>
        <div>
            <input type="datetime-local" th:field="*{interestRate}"/>
        </div>
        <div>
            <input type="submit" th:value="создать"/>
        </div>
    </form>
</div>
</body>
</html>