<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Банк</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <form class="col-sm-6" th:action="@{/editCredit}" method="post" th:object="${credit}">
        <input class="form-control" type="text" hidden th:value="${credit.id}"  th:field="*{id}"/>
        <div class="row">
            <div class="col">
                <label for="limit" class="form-label">Лимит: </label>
                <input id="limit" class="form-control" type="text" th:field="*{creditLimit}"/>
                <p class="text-danger" th:if="${#fields.hasErrors('creditLimit')}" th:errors="*{creditLimit}"></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="percent" class="form-label">Процент: </label>
                <input id="percent" class="form-control" type="text" th:field="*{interestRate}"/>
                <p class="text-danger" th:if="${#fields.hasErrors('interestRate')}" th:errors="*{interestRate}"></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="percent" class="form-label">Банк: </label>
                <select th:field="*{idBank}" class="form-select" aria-label="Default select example" >
                    <option value="-1" selected> Выбор банка</option>
                    <option th:each="bank : ${banks}" th:value="${bank.getId()}" th:text="${bank.name}" ></option>
                </select>
                <p class="text-danger" th:if="${#fields.hasErrors('idBank')}" th:errors="*{idBank}"></p>
            </div>
        </div>
        <button class="btn btn-secondary mt-2" type="submit">Создать/редактировать</button>
        <a class="btn btn-secondary mt-2" th:href="@{/}">Главная</a>
    </form>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</html>