<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Клиент</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>

<div class="container">
<form class="col-sm-6" th:action="@{/editClient}" method="post" th:object="${client}">
    <input class="form-control" type="text" hidden th:field="*{id}"/>
    <div class="row">
        <div class="col">
            <label for="name" class="form-label">ФИО: </label>
            <input id="name" class="form-control" type="text" th:field="*{name}"/>
            <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        </div>
        <div class="col">
            <label for="phoneNumber" class="form-label">Телефон: </label>
            <input id="phoneNumber" class="form-control" type="text" th:field="*{phoneNumber}"/>
            <p class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="email" class="form-label">Email: </label>
            <input id="email" type="text" class="form-control" th:field="*{email}"/>
            <p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

        </div>
        <div class="col">
            <label for="passportNumber" class="form-label">Паспорт: </label>
            <input id="passportNumber" type="text" class="form-control" th:field="*{passportNumber}"/>

            <p class="text-danger" th:if="${#fields.hasErrors('passportNumber')}" th:errors="*{passportNumber}"></p>
        </div>
    </div>
    <button class="btn btn-secondary mt-2" type="submit">Создать/редактировать</button>
    <a class="btn btn-secondary mt-2" th:href="@{/}">Главная</a>
</form>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</html>